.share-btn{
    border-radius: 0px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    margin: 0 5px 5px 0;
    text-decoration: none;
    font-size: 16px;
}
.share-btn:hover{
    text-decoration: none !important;
    color: #ffffff !important;
    border-bottom: none !important;
}
.facebook-btn{
    background-color: #3b5999;
    padding: 5px 20px;
    color: #ffffff;
}

.twitter-btn{
    background-color: #1ca1f3;
    padding: 5px 20px;
    color: #ffffff;
}

.facebook-btn:hover, .twitter-btn:hover{
    box-shadow: inset 0 0 200px rgba(255,255,255,0.15);
}

.facebook-btn:active, .twitter-btn:active,.facebook-btn:focus, .twitter-btn:focus,.facebook-btn:visited, .twitter-btn:visited{
    color: #ffffff !important;
}